<div data-ng-controller="CustomerEntryCtrl">
    <div class="container customer-entry">

        <div class="title row">
            <div class="col-md-12">
                <h3>Home Removals Manager</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <form name="form">
                    <div class="form-group">
                        <label>Room</label>
                        <select class="form-control" placeholder="Room"
                            data-ng-model="item.room"
                            data-required
                            data-ng-options="roomOption.id as roomOption.label for roomOption in roomOptions">
                            <option value="">-- select a room --</option>
                        </select>
                    </div>

                    <div class="form-group" data-ng-if="item.room === roomOptions">
                        <input required type="text" placeholde="Please specify Room">
                    </div>

                    <div class="form-group">
                        <label>Weight (Kg)</label>
                        <input type="number" required class="form-control" data-ng-model="item.weight">
                    </div>

                    <div class="form-group">
                        <label>Description</label>
                        <textarea rows="8" class="form-control" data-ng-model="item.description" 
                            placeholder="Please Enter a short description of the item to be moved." required>
                        </textarea>
                    </div>
                     
                    <div class="form-group">   
                        <label>
                            Fragile:
                            <input class="form-control" type="checkbox" data-ng-model="item.fragile" 
                                data-ng-true-value="true"
                                data-ng-false-value="false">
                        </label>
                    </div>

                    <button data-ng-disabled="form.$invalid" type="button" class="btn btn-primary" data-ng-click="addItem()">
                        <span data-ng-if="freshItem">Add</span>
                        <span data-ng-if="!freshItem">Save Edit</span>
                    </button>
                </form>
            </div>

            <div class="col-md-8">
                <h3>Items to be moved: {{ items.length}}</h3>

                <div data-accordion>
                    <div data-ng-repeat="roomOption in roomOptions" data-accordion-group 
                        data-heading="{{roomOption.label}}" data-ng-if="showAccordionHeading(roomOption)">
                        <ul class="list-group">
                            <li class="list-group-item" data-ng-repeat="item in itemsForRoom(roomOption)">
                                <div class="item-content">
                                    {{item.weight}}Kg - {{item.description }}.
                                    <span data-ng-if="item.fragile"> Note: Handle with care</span>
                                </div>
                                <div class="pull-right"> 
                                    <button type="button" class="btn btn-default" data-ng-click="modifyItem(item)">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button type="button" class="btn btn-default" data-ng-click="removeItem(item)"> 
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="pull-right">
            <button type="button" class="btn btn-default" data-ng-click="viewManifest()">Remover Manifest</button>
        </div>
    </div>
</div>

