<div class="max-height" data-ng-controller="RemovalSummaryCtrl">
    <div class="container max-height">

        <div class="row">
            <div class="col-md-12">
                <h2>Home Removals - Removal Summary</h4>
            </div>
        </div>  

        <div class="row">
            <div class="col-md-12">
                <h3> Heaviest Items Per Room:</h3>
                <div data-ng-repeat="(roomType, items) in topGroups">
                    <h3>{{roomType}}:</h4>
                    <ul class="list-group">
                        <li data-ng-repeat="item in items" class="list-group-item">
                            {{ item.weight }}Kg - {{ item.description }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12">
                <h3>Fragile items:</h3>
                <ul class="list-group">
                    <li class="list-group-item" data-ng-repeat="item in fragileItems">
                        {{ item.room }} - {{ item.weight }}Kg - {{ item.description }}
                    </li>
                </ul>
            </div>

            <div class="col-md-12">
                <h3>Other Items:</h3>
                <ul class="list-group">
                    <li class="list-group-item" data-ng-repeat="item in leftOverItems">
                        {{ item.room }} - {{ item.weight }}Kg - {{ item.description }}
                    </li>
                </ul> 
            </div>
        </div>
</div>

