html, body {
    height: 100%;
}

.customer-entry {

    ul.list-group {
        
        li.list-group-item {
            min-height: 60px;

            .item-content {
                display: inline-block;
                width: 80%;
            }    
        }
    }     
}
